.form-widget .controls input, .form-widget .controls textarea{
    box-shadow:none;
}

.form-placeholder .email, .form-placeholder .text, .feedback-wrapper .feedback-body .redactor_box{
    border-radius:5px;
}

.form-widget .controls input:focus, .form-widget .controls textarea:focus{
    box-shadow:none;
    border-color:#3898ec;
}


input[type=text], input[type=password], select, input.text, .feedback-wrapper .feedback-body .default_description{
    width:100%;
}


.modal-panel-active .modal-body.feedback-footer .btn, .modal-panel-active .modal-footer.feedback-footer .btn {
    background-color: #369fff;
    border-radius: 5px;
    border-color: transparent;
}


.modal-panel-active .modal-body.feedback-footer .btn:hover, .modal-panel-active .modal-footer.feedback-footer .btn:hover{
    background-color: #2774ba;
}
